@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');


html {
    font-size: 5em;
    font-family: 'Poppins', sans-serif;
}

body {
    display: inline;
    text-align: center;
    vertical-align: middle;
}

p {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}