@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Comfortaa:wght@500&family=Forum&display=swap');

html {
    overflow: hidden;
    color: #430012;
    color: #7A1832;
    color: black;
    color: #0A397F;
}

body {
    height: 100vh;
    font-size: 75px;
    background-color: #ffd7e2;
    background: linear-gradient(230deg, rgba(255, 215, 226, 1) 55%, rgba(214, 255, 244, 1) 100%)
}

p {
    font-family: 'Anonymous Pro', monospace;
    font-family: 'Forum', cursive;
    font-family: 'Comfortaa', cursive;
    line-height: 1.6;
    margin: 5%;
    /* text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.37), -2px -2px 3px rgba(0, 0, 0, 0.37); */
    /* text-shadow: 0 0 0 6px white, 0 0 0 8px gray; */
    text-shadow: 2px 2px 8px rgba(1, 5, 255, 0.27), -1px -1px 16px rgba(0, 38, 255, 0.27);
}

.st_text {
    display: none;
}

/*-----------span_style-----------*/

@keyframes animation-underline {
    0% {
        background-size: 0% 4px;
        color: inherit;
    }

    100% {
        background-size: 100% 4px;
        color: var(--text-color);
    }
}

.st span {
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100% 4px;
    animation-name: animation-underline;
    animation-timing-function: ease-out;
    animation-duration: 1.5s;
    background-image: linear-gradient(90deg, var(--text-color), var(--text-color));
    color: var(--text-color);
}

#b1 .st span {
    --text-color: red;
}

#b2 .st span {
    --text-color: rgb(255, 196, 0);
    text-shadow: 2px 2px 8px rgba(255, 196, 0, 0.27), -1px -1px 16px rgba(255, 196, 0, 0.27);
}

#b3 .st span {
    background-image: linear-gradient(90deg, green, hotpink);
    --text-color: red;
}


/*-----------end-span_style-----------*/

* {
    margin: 0;
    padding: 0;
    z-index: 1;
}

.main {
    display: flex;
    justify-content: center;
    width: 50%;
}

.outer,
#load_outer {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.outer {
    display: none;
}

#load_outer {
    display: flex;
}


.rg_text .new {
    opacity: 0;
}

.rg_text,
.st_text {
    width: 100%;
    display: none;
    text-align: center;
}

.rg_text .div_opacity {
    opacity: 1;
    transition: opacity .7s ease-in-out;
    -webkit-transition: opacity .7s ease-in-out;
    -moz-transition: opacity .7s ease-in-out;
    -ms-transition: opacity .7s ease-in-out;
    -o-transition: opacity .7s ease-in-out;
}



/*-----------loader-----------*/

#loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
}

#loader div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: red;
    animation: loader45 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

#loader div:after,
#loader div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: red;
}

#loader div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
}

#loader div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
}

@keyframes loader45 {
    0% {
        transform: scale(0.95);
    }

    5% {
        transform: scale(1.1);
    }

    39% {
        transform: scale(0.85);
    }

    45% {
        transform: scale(1);
    }

    60% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(0.9);
    }
}

/*-----------end-loader-----------*/

#out-video {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    overflow: hidden;
    opacity: 0.8;
    z-index: 0;

    display: none;
}