@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Comfortaa:wght@500&family=Forum&display=swap');

html {
    /* overflow: hidden; */
}

body {
    height: 100vh;
    font-size: 50px;
    background-color: #ffd7e2;
    /*#fff0f8*/
    /* background: linear-gradient(230deg, rgba(255, 215, 226, 1) 55%, rgba(214, 255, 244, 1) 100%) */
}

p {
    font-family: 'Anonymous Pro', monospace;
    font-family: 'Forum', cursive;
    font-family: 'Comfortaa', cursive;
    line-height: 1.6;
    margin: 5%;
    color: #430012;
}

* {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    justify-content: center;
    width: 60%;
}

.outer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#c1 {
    opacity: 0;
    animation-duration: 1s;
    animation-name: opac;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

@keyframes opac {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;

    }
}

#c2 {
    opacity: 0;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-name: opac;
}