html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  background: radial-gradient(#ffffff, #d2d2d2);
  color: rgb(27, 27, 27);
}

body {
  margin: 0;
}

header {
  margin-bottom: 1rem;
  background-color: darkorange;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.295);
}

header>h1 {
  font-size: 7rem;
  margin: 0 2rem;
  padding: 20px 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.541);
  display: inline-block;
}

.contacts {
  display: inline-block;
  float: right;
  width: 80rem;
}

header address {
  font-size: 2rem;
  margin: 3% 7%;
}

nav {
  font-size: 2.5rem;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline-block;
  width: 100%;
  font-size: 0;
}

nav li {
  font-size: 2.5rem;
  /* float: left; */
  /* display: block; */
  display: inline-block;
  text-align: center;
  width: 25%;
}

nav a#active {
  background: #e66100;
}

nav a {
  outline: none;
  display: inline-block;
  line-height: 3;
  width: 100%;
  border-right: 2px solid #000;
  text-decoration: none;
}

nav a:last-child {
  border: 0;
}

nav a:link,
nav a:visited,
nav a:focus {
  background: #ff6c00;
  color: black;
}

nav a:hover,
nav a:hover#active {
  background: orange;
}

nav a:active {
  background: red;
}

main {
  font-size: 3rem;
}

footer {
  margin-top: 1rem;
}